{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "prettier",
    "@typescript-eslint"
  ],
  "extends": [
    "airbnb",
    "airbnb/hooks",
    "prettier",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [
          ".js", ".jsx", ".ts", ".tsx"
        ]
      }
    }
  },
  "rules": {
    // Allow Prettier to throw errors via ESLint
    "prettier/prettier": "error",
    // note you must disable the base rule as it can report incorrect errors
    "no-use-before-define": "off",
    "@typescript-eslint/no-use-before-define": ["error"],
    "react/jsx-filename-extension": "off",
    "@typescript-eslint/no-namespace": "off",
    "react/jsx-props-no-spreading": "off",
    "import/extensions": "off"
  }
}
